*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: url('hand.png') 10 10,auto;
}

@font-face {
  font-family: 'Bebon';
  src: url('BebonVF.woff') format('woff-variations');
}
@font-face {
	font-family: 'MetamoreBit';
	src: url('MetamorBit_SerifVF.ttf');
}

body::-webkit-scrollbar {
	width: 0.5em;
  }
   
  body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
  }

:root{
	--wdth: 100;
	--color: silver;
}

body{
	font-family: 'Arial';
	font-weight: 100;
	font-style: normal;
	font-size: 30px;
	line-height: 1.5;
	margin-bottom: 4rem;
	color:  var(--color);
	background-color: darkgreen;
}

/* dragable element style*/
/*use class instead of id because there will be multiple*/

#mahjong {
	display:inline;
}

.block{
	position: absolute;
	border-radius: 8px;
	text-align: center;
	padding: 10px;
	font-family: 'Bebon';
	font-variation-settings: 'wdth' var(--wdth);
	line-height: 100%;
	font-size: 5vw;
	font-weight: normal;
	text-transform: uppercase;
	--wdth: 100;
	background-color: darkgreen;
	cursor: url('point.png') 10 10,auto;
	color:white;
	border: 2px solid white;
	box-shadow: 5px 5px white;
	text-shadow: 0px 0px 20px rgb(255, 255, 255,0.3);
}

/* button style*/
.pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 48vw;
	user-select: none;
}

#buttons{
	text-align: center;
}
button{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 10vw;
	font-family: 'MetamoreBit';
	font-variation-settings: 'wdth' var(--wdth);
	--wdth: 450;
	font-size: 1vw;
	color: silver;
	background: darkgreen;
	border-radius: 16px;
	outline: none;
	border: 6px solid silver;
	padding: 1em;
}
button:hover{
	cursor: url('point.png') 10 10,auto;
	color: darkgreen;
	background: silver;
	border: 6px solid darkgreen;
}

#moreblocks {
	display: flex;
	margin-top: -26.5vw;
}

#explore {
	display: block;
	margin-top: 24vw;
}

#back {
	display: block;
}




h1 {
	font-family: Bebon;
	font-variation-settings: 'wdth' var(--wdth);
	font-size: 10vw;
	font-weight: normal;
	text-transform: uppercase;
	--wdth: 100;
}

h2{
	display: block;
	text-align: center;
	font-family: 'MetamoreBit';
	font-variation-settings: 'wdth' var(--wdth);
	--wdth: 450;
	font-size: 1vw;
	color: silver;
}

h3 {
	font-family: Bebon;
	font-variation-settings: 'wdth' var(--wdth);
	line-height: 115%;
	font-weight: normal;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	padding: 30px 20px;
	animation-duration: 7s;
	animation-name: change;
	animation-iteration-count: infinite;
}

h4 {
	font-family: Bebon;
	font-variation-settings: 'wdth' var(--wdth);
	line-height: 115%;
	font-size: 6vw;
	font-weight: normal;
	text-transform: uppercase;
	display: inline;
	text-align: center;
	animation-duration: 7s;
	animation-name: change;
	animation-iteration-count: infinite;
}

@keyframes change {
  30% {
	font-variation-settings: 'wdth' var(--wdth);
    --wdth: 100;
  }

  45% {
	font-variation-settings: 'wdth' var(--wdth);
    --wdth: 200;
  }

  80% {
	font-variation-settings: 'wdth' var(--wdth);
    --wdth: 200;
  }

  95% {
	font-variation-settings: 'wdth' var(--wdth);
    --wdth: 100;
  }
}

#alphabet {
	text-align: center;
}

.letter {
	transition: font-variation-settings .3s ease-in, color .3s ease-in;
	display: inline;
	line-height: 100%;
	margin-left: 0em;
	margin-right: 0em;
	text-align: center;
	cursor: url('point.png') 10 10,auto;
}

.letter:hover {
	--wdth: 200;
	color:white;
	text-shadow: 0px 0px 20px rgb(255, 255, 255,0.2);
	transition: font-variation-settings .3s ease-in,
	background-color .3s ease-in, color .3s ease-in;
	}

hr {
	width:94vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

.page-flow {
	width: 97%;
	display: flex;
	flex-direction: column;
}

.left, .right {
	width: 50%;
	padding: 25px;
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  
  .left, .left-flow {
	border-right: 2px solid silver;
  }
  
  .left-flow, .right-flow {
	width: 50%;
	display: flex;
	flex-direction: column;
	border-top: 2px solid silver;
	border-bottom: 2px solid silver;
  }
  
  .specimen-container {
	margin-left: 3%;
	display: flex;
	flex-direction: row;
	justify-content: center;
  }

  
  @media screen and (max-width: 1400px) and (min-width: 1100px) {
	h3 {
        animation-name: change150;
    }

	button{
		border: 4px solid silver;
		border-radius: 12px;
	}
	button:hover{
		border: 4px solid darkgreen;
	}
  }
	
	@keyframes change150 {
		30% {
		  font-variation-settings: 'wdth' var(--wdth);
		  --wdth: 100;
		}
	  
		45% {
		  font-variation-settings: 'wdth' var(--wdth);
		  --wdth: 150;
		}
	  
		80% {
		  font-variation-settings: 'wdth' var(--wdth);
		  --wdth: 150;
		}
	  
		95% {
		  font-variation-settings: 'wdth' var(--wdth);
		  --wdth: 100;
		}
	  }

  @media screen and (max-width: 1100px) and (min-width: 800px) {
	h3 {
        animation: none;
    }
	button{
		border: 3px solid silver;
		border-radius: 9px;
	}
	button:hover{
		border: 3px solid darkgreen;
	}
}

@media screen and (max-width: 800px) {
	.specimen-container {
		display: block;
		text-align: center;
	}
	h3 {
        animation: none;
    }
	.left, .right {
		width: 100%;
	  }
	  
	  .left, .left-flow {
		border-right: none;
	  }
	  
	  .left-flow {
		width: 100%;
		border-top: 2px solid silver;
		border-bottom: 2px solid silver;
	  }

	  .right-flow {
		width: 100%;
		border-top: none;
		border-bottom: 2px solid silver;
	  }
	  h2 {
		  margin-top: 0px !important;
	  }
	  button{
		border: 2px solid silver;
		border-radius: 7px;
	}
	button:hover{
		border: 2px solid darkgreen;
	}
}

#font {
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 94%;
	font-family: 'Bebon';
	line-height: 120%;
	text-align: center;
	font-variation-settings: 'wdth' var(--wdth);
	--wdth: 100;
	font-size: 6vw;
	background: darkgreen;
	border-radius: 16px;
	outline: none;
	border: 4px solid silver;
	padding: 2vw;
	color:white;
	text-shadow: 0px 0px 20px rgb(255, 255, 255,0.3);
	cursor: url('point.png') 10 10,auto;
}




/*SLIDER STYLES*/

#sliders ul{
	margin: auto;
}
#sliders li{
	display: flex;
	justify-content: center;
}

.slider {
	-webkit-appearance: none;
	position:relative;
	height: 18px;
	border: 2px solid silver;
	border-radius: 5px;
	background: none;
	transition: opacity .2s;
	padding: 2px;
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 12px;
	background: white;
	border-radius: 4px;
  }


.range-name {
	width: 8vw;
	margin-right: 20px;
	line-height: 18px;
}
.min, .max{
	width: 3vw;
	line-height: 18px;
}

input.axis-range{
	width: 30vw;
	margin: 0 20px;
	cursor: url('point.png') 10 10,auto;
}