*{
	margin-top: 2px;
	margin-left: 0.3%;
	box-sizing: border-box;
}

body{
	font-family: 'Arial';
	font-weight: 100;
	font-style: normal;
	font-size: 3vw;
	line-height: 1.5;
	margin-bottom: 4rem;
	color: rgb(30, 30, 30);
	background-color: rgb(240, 240, 240);
}

h1 {
	display: inline-block;
	font-size: 28px;
}

h2{
	font-size: 2vw;
	margin-block-start: 0rem;
}

.left{
	width: 25%;
}

.middle{
	width: 15%;
}

.right{
	width: 60%;
}

.column {
	float: left;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.box {
	border: none;
	width: 40%;
	height: 95vh;
	overflow: scroll;
	}

#buttons{
	text-align: center;
}

.CNID .Time .Content {
	display:block;
}

  
  @media screen and (max-width: 1400px) and (min-width: 1100px) {
	h3 {
        animation-name: change150;
    }

	button{
		border: 4px solid silver;
		border-radius: 12px;
	}
	button:hover{
		border: 4px solid darkgreen;
	}
  }
	
	@keyframes change150 {
		30% {
		  font-variation-settings: 'wdth' var(--wdth);
		  --wdth: 100;
		}
	  
		45% {
		  font-variation-settings: 'wdth' var(--wdth);
		  --wdth: 150;
		}
	  
		80% {
		  font-variation-settings: 'wdth' var(--wdth);
		  --wdth: 150;
		}
	  
		95% {
		  font-variation-settings: 'wdth' var(--wdth);
		  --wdth: 100;
		}
	  }

  @media screen and (max-width: 1100px) and (min-width: 800px) {
	h3 {
        animation: none;
    }
	button{
		border: 3px solid silver;
		border-radius: 9px;
	}
	button:hover{
		border: 3px solid darkgreen;
	}
}

@media screen and (max-width: 800px) {
	.specimen-container {
		display: block;
		text-align: center;
	}
	h3 {
        animation: none;
    }
	.left, .right {
		width: 100%;
	  }
	  
	  .left, .left-flow {
		border-right: none;
	  }
	  
	  .left-flow {
		width: 100%;
		border-top: 2px solid silver;
		border-bottom: 2px solid silver;
	  }

	  .right-flow {
		width: 100%;
		border-top: none;
		border-bottom: 2px solid silver;
	  }
	  h2 {
		  margin-top: 0px !important;
	  }
	  button{
		border: 2px solid silver;
		border-radius: 7px;
	}
	button:hover{
		border: 2px solid darkgreen;
	}
}

#font {
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 94%;
	font-family: 'Bebon';
	line-height: 120%;
	text-align: center;
	font-variation-settings: 'wdth' var(--wdth);
	--wdth: 100;
	font-size: 6vw;
	background: darkgreen;
	border-radius: 16px;
	outline: none;
	border: 4px solid silver;
	padding: 2vw;
	color:white;
	text-shadow: 0px 0px 20px rgb(255, 255, 255,0.3);
	cursor: url('point.png') 10 10,auto;
}




/*SLIDER STYLES*/

#sliders ul{
	margin: auto;
}
#sliders li{
	display: flex;
	justify-content: center;
}

.slider {
	-webkit-appearance: none;
	position:relative;
	height: 18px;
	border: 2px solid silver;
	border-radius: 5px;
	background: none;
	transition: opacity .2s;
	padding: 2px;
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 12px;
	background: white;
	border-radius: 4px;
  }


.range-name {
	width: 8vw;
	margin-right: 20px;
	line-height: 18px;
}
.min, .max{
	width: 3vw;
	line-height: 18px;
}

input.axis-range{
	width: 30vw;
	margin: 0 20px;
	cursor: url('point.png') 10 10,auto;
}