@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');

*{
	margin-top: 2px;
	margin-left: 0.3%;
	box-sizing: border-box;
}

body{
	font-family: 'Noto Sans SC', sans-serif;
	font-weight: 300;
	font-style: normal;
	line-height: 1.5;
	margin-bottom: 4rem;
	color: rgb(30, 30, 30);
	background-color: rgb(240, 240, 240);
	cursor: default;
}

h1 {
	display: inline-block;
	font-size: 28px;
}

h1:hover {
	color:blue;
	cursor: pointer;
}

h2{
	font-size: 18px;
	margin-block-start: 0rem;
	line-height: 28px;
}

.CNID{
	width: 68%;
	display:inline-block;
}

.Time{
	width: 40%;
	margin-left:60%;
	margin-top: -31px;
}

.content {
	text-align: center;
	display: block;
	margin: 0;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-45%,-80%);
}

.right{
	width: 64%;
	position: relative;
	height:94vh;
	margin-top: -40px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
}

.box {
	border: none;
	height: 94vh;
	width:35%;
	overflow: scroll;
	}

.lines:hover {
	color:blue;
	cursor: pointer !important;
}

::-webkit-scrollbar {
	width: 12px;
	height: 0px;

	}

::-webkit-scrollbar-thumb {
	background: blue;  
	border-radius: 10px;
	}
	
	::-webkit-scrollbar-thumb:hover {
	background: rgb(0, 0, 188);  
	}



  @media screen and (max-width: 1800px) and (min-width: 1400px) {
	h3 {
        animation-name: change150;
    }

	button{
		border: 4px solid silver;
		border-radius: 12px;
	}
	button:hover{
		border: 4px solid darkgreen;
	}
  }
	
	@keyframes change150 {
		30% {
		  font-variation-settings: 'wdth' var(--wdth);
		  --wdth: 100;
		}
	  
		45% {
		  font-variation-settings: 'wdth' var(--wdth);
		  --wdth: 150;
		}
	  
		80% {
		  font-variation-settings: 'wdth' var(--wdth);
		  --wdth: 150;
		}
	  
		95% {
		  font-variation-settings: 'wdth' var(--wdth);
		  --wdth: 100;
		}
	  }

  @media screen and (max-width: 1200px) and (min-width: 800px) {
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size:16px;
	}
}

@media screen and (max-width: 800px) {
	.specimen-container {
		display: block;
		text-align: center;
	}
	h3 {
        animation: none;
    }
	.left, .right {
		width: 100%;
	  }
	  
	  .left, .left-flow {
		border-right: none;
	  }
	  
	  .left-flow {
		width: 100%;
		border-top: 2px solid silver;
		border-bottom: 2px solid silver;
	  }

	  .right-flow {
		width: 100%;
		border-top: none;
		border-bottom: 2px solid silver;
	  }
	  h2 {
		  margin-top: 0px !important;
	  }
	  button{
		border: 2px solid silver;
		border-radius: 7px;
	}
	button:hover{
		border: 2px solid darkgreen;
	}
}